@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html{
    display: flex;
    justify-content: center;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;   
    max-width: 1540px;
    text-align: center; 
    color: #fff;
}
main{
    background: #151536;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
header{
    width: 100%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: #000;
    height: 100px;
    position: fixed;
}
.logobox{
   
    
    
}
.logo-link{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.logo{
    width: 170px;
    height: 130px;
}

.linkbox{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    color: #000;
}
main{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    border-bottom: 1px solid;
    flex-direction: column;
    padding-left: 60px;
    padding-bottom: 160px;
}
.main_text{
    width: 90%;
    text-align: start;
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    /* letter-spacing: 2px; */
    margin-bottom: 150px;
}
.teleg_button{
    margin-bottom: -200px;
    width: 400px;
    height: 60px;
    border-radius: 20px;
    background: #0662e3;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}
.card{
    width: 100%;
    height: 700px;
    background: #151536;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_title{
    padding-top: 60px;
    font-size: 26px;
    letter-spacing: 3px;
}
.iconbox{
    width: 80%;
    display: flex;
    margin-top: 70px;
}
.icon_box{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: start;
}
.icon_i{
    margin-top: 20px;
    font-size: 40px;
}
iframe{
    width: 500px;
    height: 450px;
    border-radius: 20px;
}
@media only screen and (max-width: 1250px) {
    .icon_i{
        font-size: 25px;
    }
  }
  @media only screen and (max-width: 768px) {
    .main_text{
        font-size: 50px;
    }
    iframe{
        width: 300px;
        height: 300px;
    }
  }
@media only screen and (max-width: 560px) {
    .navbar{
        padding: 0 10px;
    }
    .linkbox{
        width: 230px;
    }
    .navlink{
        font-size: 14px;
        
    }
    .contact{
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
    main{
        justify-content: start;
        padding: 0;
        padding-top: 40px;
        align-items: center;
        height: 300px;
    }
    .main_text{
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin-bottom: 70px;
    }
    .card{
        height: 750px;
    }
    .iconbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teleg_button{
        margin-top: 30px;
    }
  }


  @media only screen and (max-width: 400px) {
    
    .navlink{
        font-size: 14px;
        display: none;   
    }
    .linkbox{
        justify-content: end;
    }
    .teleg_button{
        width: 300px;
    }
    .main_text{
        font-size: 25px;
    }
    .card_title{
        font-size: 18px;
    }
  }